
table{
	table-layout: fixed;
	width: 200px;
	height: 200px;
	border-collapse: collapse;
}
td{
	background-color: red;
}
.blue {
	background-color: blue;
}
#id1_1 {
	border-radius: 50%  50% 0% 0%;
}
#id1_2 {
	border-radius: 50%  0% 0% 0%;
}
#id1_3 {
	border-radius: 0%  50% 50% 0%;
}
#id2_3 {
	border-radius: 50%;
}
#id3_1 {
	border-radius: 0% 0% 50%  50%;
}
#id3_2 {
	border-radius: 0% 0% 0%  50%;
}
#id3_3 {
	border-radius: 0% 50% 50% 0%;
}