
body{
	background-color: rgba(10, 50, 255, 0.3);
}


p {
	color: blue;
}

/*
p{
	color: rgb(0,0,255);
}
*/
/*
p {
	color: hsl(240,100%,50%);
}
*/
/*
p{
	color:rgba(0,0,255,1);
}
*/